.you-tube-you-tube {
  width: auto;
  height: 120px;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 200px;
  padding-right: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.you-tube-icon {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.you-tube-text {
  width: auto;
}
.you-tube-root-class-name {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
}
@media(max-width: 479px) {
  .you-tube-you-tube {
    width: 120px;
    height: 60px;
    align-items: center;
  }
  .you-tube-root-class-name {
    width: auto;
  }
}
